<h1>All Visits#index</h1>
<p>Find me in app/views/visits/index.html.erb</p>
<div>
  <% @visits.each do |visit| %>
    <p>Visit No: <%= visit.id %></p>
    <p>Patient: <%= visit.pat.fullname %></p>    
    <button><%= link_to 'Show_more', visit_path(visit) %></button>
  <% end %>
</div>