<h1>All Visits</h1>
<div>
  <% @visits.each do |visit| %>
    <p>Visit No: <%= visit.id %></p>
    <p>Patient: <%= visit.pat.fullname %></p>    
    <button><%= link_to 'Show more', visit_path(visit) %></button>
  <% end %>
</div>