<h2>Doctor Form</h2>
<p>Vizits ? | Appointments ? </p>
<p>My patients (<%= @user.requested_visits.count %>)</p>
<button><%= link_to 'My vizits', visits_path %></button>
<p>Given appointments (<%= @user.given_appointments.count %>)</p>
<button><%= link_to 'My appointments', appointments_path %></button>
<br>
<br>
