<h2>Doctor Form</h2>
<p>Categories | Doctors | Vizits ?</p>
<button>My patients - link to own patients list</button>
 <%= button_to 'Show patients' %>
<button>View appointments</button>
<button>My recomendations - link</button>
<br>
<br>
