<h1>Patient Form</h1>
<p>Categories | Doctors | Vizits</p>
<button>Make an appointment</button>
<button>My vizits - link to vizit list</button>
<button>Doctor`s recomendations - link</button>
<br>
<br>
