<h1>Patient Form</h1>
<p><%= link_to 'Categories', categories_path %> | Doctors | Vizits</p>
<%= button_to 'Book Doctor', book_doctor_path(@user) %>
<button>Make an appointment</button>
<button>My vizits - link to vizit list</button>
<button>Doctor`s recomendations - link</button>
<br>
<br>
