<h1>Patient Form</h1>
<p><%= link_to 'Categories', categories_path %> | Doctors | Vizits</p>
<button>My vizits (<%= @user.created_visits.count %>)</button>
<button>Make an appointment</button>

<button>Doctor`s recomendations - link</button>
<br>
<br>
